{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3,
        "targets": {
          "ie": 11,
          "ios": 10
        }
      }
    ],
    "@babel/react"
  ],
  "comments": false,
}